/* You can add global styles to this file, and also import other style files */

/* Global Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

$link-primary: #8cadce;
$link-visited: #8cadce;

a {
  color: $link-primary;
  text-decoration: none;

  &:visited {
    color: $link-visited;
    text-decoration: none;
    opacity: 0.42;
  }

  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }

  &:active {
    opacity: 1;
    text-decoration: none;
  }
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
