{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "indent": 2,
    "linebreak-style": ["error", "unix"],
    "eol-last": 1,
    "semi": [2, "never"],
    "prefer-destructuring": ["error", {
      "array": true,
      "object": true
    }]
  }
}
